*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --vermelho-claro: #ED5564;
    --vermelho-escuro: #a31616;
    --branco: #f5f5f5;
    --preto: #131313;
    --cinza: lightgray;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a31616;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    color: var(--branco);
}

.menu-img{
    width: 10%;
    padding: 10px 10px;
    margin-left: 5px;
}

.menu-texto{
    word-break: break-word;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.menu-itens > li > .menu-link{
    color: var(--branco);
    cursor: pointer;
    list-style: none;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(163, 22, 22);
        font-family: Verdana, sans-serif;
        font-size: 22px;
        color: white;
    }
    .menu-texto{
        word-break: break-word;
        padding: 10px 5px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    
    .menu-img{
        width: 18%;
        padding: none;
        margin: none;
    }
}

@media only screen and (max-width: 460px) {
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(163, 22, 22);
        font-family: Verdana, sans-serif;
        font-size: 18px;
        color: white;
    }

    .menu-texto{
        word-break: break-word;
        padding: 10px 5px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    .menu-img{
        width: 30%;
        padding: 10px 5px;
    }

}

